.tabs__element {
  position: absolute;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
  -o-transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.tabs__element.is-active {
  z-index: 1;
  width: 100%;
  visibility: visible;
  opacity: 1;
}
